@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap');

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.navbar {
	position: relative;
	padding: 1.5rem 1rem 1.2rem 1rem;
	color: #fff;
	background-color: #000;
	display: flex;
	justify-content: space-between;
}

.logo {
	padding: 4px 13px 4px 13px;
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-size: 22px;
	color: #fff;
	cursor: pointer;
}

.grid {
	display: grid;
	place-items: center;
	grid-template-columns: repeat(2, auto);
	column-gap: .6rem;
	padding: .7em;
}

.child {
	width: 88%;
	padding: 3em 1em;
	margin: 1em;
	border-radius: .5em;
	box-shadow: 0 3px 3px -2px rgb(39 44 51 / 10%), 0 3px 4px 0 rgb(39 44 51 / 4%),0 1px 8px 0 rgb(39 44 51/2%);
	color: #fefefe;
	background-color: #006DB5;
}

.midLy {
	width: 100%;
	display: grid;
	grid-template-columns: 43% 57%;
	place-items: center;
}

.midInner {
	width: 98%;
	display: grid;
	justify-self: center;
	padding-left: 2em;
}

.ly-card1 {
	width: 120%;
	height: auto;
	padding: 7px 7px 0 7px;
	background-color: #fff;
	border-radius: .5em;
	box-shadow: 0 3px 3px -2px rgb(39 44 51 / 10%), 0 3px 4px 0 rgb(39 44 51 / 4%),0 1px 8px 0 rgb(39 44 51/2%);
}

.ly-card {
	width: 480px;
	height: 270px;
	padding: 7px 7px 0 7px;
	color: #fff;
	background: linear-gradient(15deg, #1a54d4, #01132f);
	border-radius: .5em;
	box-shadow: 0 3px 3px -2px rgb(39 44 51 / 10%), 0 3px 4px 0 rgb(39 44 51 / 4%),0 1px 8px 0 rgb(39 44 51/2%);
}

.btnContainer {
	width: 50%;
	display: grid;
	justify-self: center;
}

.profileList {
	width: 94%;
	display: grid;
	justify-self: center;
	padding: 1.3em .8em;
}

.globalContainer {
	width: 100%;
	height: 100%;
	z-index: 0;
	overflow: hidden;
	display: none;
	background-color: rgb(46 56 77 / 30%);
}

.modalContainer {
	width: 100%;
	height: 90vh;
	position: fixed;
	top: 10%;
	left: 0%;
	z-index: 1;
	overflow: auto;
	scrollbar-width: thin;
	scrollbar-color: #ccc #f0f0f0;
	border-radius: .5em;
	background-color: #fff;
	outline: 0;
	pointer-events: auto;
	box-sizing: border-box;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.close {
	display: block;
	font-size: 1.2em;
	text-decoration: underline;
	cursor: pointer;
}

.label {
	font-size: 1.1em;
}

.input {
	display: block;
	margin: 7px 0;
	padding: 4px 30px 4px 15px;
	border: 2px solid #eee;
	border-radius: 5px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 5px 0px;
	font-size: 16px;
}

.openBtn {
	margin: 60px 15px;
	padding: 10px 50px 10px 50px;
	border-style: none;
	border-radius: 7px;
	color: #fefefe;
	background-color: #444444;
	font-size: 16px;
	font-family: inherit;
}

.formBtn {
	margin: 5px;
	padding: 10px 50px 10px 50px;
	border-style: none;
	border-radius: 7px;
	color: #fefefe;
	background-color: #444444;
	font-size: 16px;
	font-family: inherit;
}

@media (max-width: 400px) {
	.midLy {
		grid-template-columns: 100%;
	}
	.ly-card {
		margin: 15px;
	}
}
